.graph-container {
  width: 80%;
  height: 700px;
  position: absolute;
  top: 40px;
  left: 150px;
}

.controls {
  position: absolute;
  top: 30px;
  left: 1300px;
  z-index: 1;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.booth-list {
  position: absolute;
  top: 30px;
  left: 10px;
  z-index: 1;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.highlighted {
  background-color: #ff0 !important;
  line-color: #f00 !important;
  target-arrow-color: #f00 !important;
  width: 4 !important;
}

.node-popup {
    pointer-events: none;
    transform: translate(-50%, -100%);
    margin-top: -10px;
}
