.graph-container {
  width: 70%;
  height: 700px;
  position: absolute;
  top: 40px;
  left: 150px;
}

.highlighted {
  background-color: #ff0 !important;
  line-color: #f00 !important;
  target-arrow-color: #f00 !important;
  width: 4 !important;
}
